<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
   
    <meta name="viewport" content="height=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    
  </head>
    <body>
        <div id="header">{{>header}}</div>
        <div id="body">{{{body}}}</div>
        <div id="footer">{{>footer}}</div>
    </body>

</html>